@import url(../detalle-queso/detalle-queso.component.css);
*{
    font-family: 'Montserrat', sans-serif;;
}

.container{
    padding: 5%;
}

.nav{
    margin: auto!important;
    padding: 1%;
    border: none!important;
}
.nav-link{
    border: none!important;
    color: #ffd05e; 
    border-radius: 100px;
}
.nav-link:hover{
    background-color: black;
    color: #ffd05e; 
    border-radius: 100px;
}
.nav-link.active{
    
    text-decoration: underline; 
}
.miniatura{
    width: 33%!important;
    height: 100px!important;
    border: 1px solid #fff!important;
    margin: auto;
}
button:focus, select:focus, textarea:focus{

    box-shadow:none!important;
    text-decoration: underline;
    color: #FFD05E;
}
button{
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0)!important;
    color: #000;
    transition: all ease .5s;
    margin-left: 10px;
    border-radius: 100px;
    
}
button:hover{
    background-color:rgb(0, 0, 0)!important;
    color: #FFD05E;
}
.textoDescripcion p:nth-child(1){

    text-transform: none;
}


/* Estilos read more */
h4{

    font-size: 1em;
}
.more {
    cursor: pointer;    
  }
  
  .complete {
    display: none;
  }
  
  input.showmore {
    display: none;
  }
  
  input.showmore~label.more span.menos {
    display: none;
  }
  
  input.showmore:checked+.complete {
    display: block;
  }
  
  input.showmore:checked~label.more span.mas {
    display: none;
  }
  
  input.showmore:checked~label.more span.menos {
    display: inline;
  }