@import url(../formulario-add-queso/formulario-add-queso.component.css);
.headerDesplegable {
    margin: auto!important;
}
.headerDesplegable img{
    margin-left: 15%;
    width: 70%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
}
.textoDesplegable{
    margin: 10% 0px;
}
h5 a{
   color: #FFD05E
}

footer {
    position:fixed;
    bottom: 0px;
    right: 5%;
  
}
footer h3{
    font-size: .8em!important;
}
@media screen and (min-width: 500px) {

    .footer {
        display: none;
            } 
    } 
@media screen and (min-width: 700px) {
    .footer {
        display: block;
            } 
        }