
<div class="headerDesplegable">
  <img src="./assets/img/logobanner.png" alt="">
  </div>
  <div class="textoDesplegable">
 <h4>Accede a tu cuenta</h4>
 <h5>y si no eres miembro aún <a href="http://">registrate</a> </h5> 
</div>
<section>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label textForm">Username</label>
      <input type="text" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label class="form-labe textForm">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <button class="btn col-12">Enviar</button>
  </form>
</section>
