<div class="headerDesplegable">
  <img src="./assets/img/logobanner.png" alt="" />
</div>
<div class="textoDesplegable">
  <h4>Accede a tu cuenta</h4>
  <h5>y si aún no eres miembro <a [routerLink]="['/registrar']">regístrate</a></h5>
</div>
<section style="background-color: #ffff;">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label textForm">Email</label>
      <input type="text" class="form-control" formControlName="email" />
   
    </div>
    <div class="mb-3">
      <label class="form-labe textForm">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" />
  
    </div>
    <div class="alert alert-dismissible fade show mt-3" role="alert" *ngIf="checkControl('email'&&'password', 'pattern')">
      La contraseña y/o correo introducido no son validos.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <button class="btn send col-12">Enviar</button>
  </form>
</section>
<footer class="footer navbar-fixed-bottom">
  <hr />
  <h3>© 2021 CheeseBox. All rights reserved🧀</h3>
</footer>
