*{
    font-family: 'Montserrat', sans-serif;
}

section{
    margin-top: 2%!important;
    width: 100%;
    margin: auto;
    /* border: 1px solid gray; */
    padding: 2%;
    box-shadow: 0 0 15px 4px rgb(213, 213, 213);
    
}
section input, section select{
    border: none;
    background-color: #f8f8f8;
    border-radius: 10px!important;
    border-radius: 0px;
}
.textoDesplegable h5{

    font-size: .7em;
text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    text-align: center;
}
.btn{
margin-top: 1%;
margin-bottom: 1%;
    border: none;
    color: #3b3d34!important;
    transition: all ease 0.5;

    
}
.btn:hover{
    background-color: #3b3d34!important;
    color: #FFD05E!important;
    text-decoration: underline;
}
.formDoble{
    display: flex;

}
.textForm{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

input:focus, select:focus, textarea:focus, button:focus{

    box-shadow:2px 2px 2px 1px #FFD05E!important;
}

h4{
    text-align: center;
}
.headerDesplegable {
    margin: auto!important;
}
.headerDesplegable img{
    margin-left: 15%;
    width: 70%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
}
.textoDesplegable{
    margin: 10% 0px;
}
h5 a{
   color: #FFD05E
}

/* Alert */

.alert{
    border: 1px solid #FFD05E;
    box-shadow:2px 2px 2px 1px #FFD05E!important;
    font-size: .8em;
}

footer {
    margin-top: 60%;
    text-align: center;
  
}
footer h3{
    font-size: .8em!important;
}
@media screen and (min-width: 500px) {

    .footer {
        display: none;
            } 
    } 
@media screen and (min-width: 700px) {
    .footer {
        display: block;
            } 
        }