<section>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
  </div>
  <div>

    <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
  </div>
  <div>

    <input type="text" class="form-control" formControlName="username" placeholder="Username">
  </div>
  <!-- ¿min-length? -->
  <div>

    <input type="email" class="form-control" formControlName="email" placeholder="Email">
  </div>
  <!-- ¿required? -->
  <!-- placeholder?/ value ="davidcontrolaCSS@gmail.com" -->
  <!-- ¿validation? -->
  <div>
    <input type="password" class="form-control" formControlName="password" placeholder="Password" >
    <!-- ¿repetir password? -->
  </div>
  <div>

    <input type="url" class="form-control" formControlName="Imagen" placeholder="Foto de perfil">
    <!-- añadir archivo? -->

    <button class="btn" type="submit">Enviar</button>
  </div>
</form>
</section>