<header>
  <div class="stick">
    <div style="width: 30%;">
      <button class="btn editar" (click)="show=!show">
        <span class="edit"></span> Edita tus contribuciones
      </button>
    </div>
    <div>
      <div class="form-check form-switch form-check-inline">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
          (input)="showCheese=!showCheese">
        <label class="form-check-label" for="flexSwitchCheckChecked">Quesos</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
          (input)="showReceta=!showReceta">
        <label class="form-check-label" for="flexSwitchCheckChecked">Recetas</label>
      </div>
    </div>
  </div>

</header>

<div class="container" *ngIf="showCheese">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let quesoUp of arrQuesoUp">
      <div class="card">
        <img [src]="quesoUp.imagen" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{quesoUp.nombre}}</h5>
          <div class="linea"></div>
          <p class="card-text"><strong>Origen:</strong> {{quesoUp.origen}}</p>

        </div>
        <div class="editarCampos" *ngIf="!show">
          <button class="btn eliminar" (click)="DeleteProducto(quesoUp.fk_productos)">Elimina</button>
          <button class="btn eliminar" (click)="goToEditProductos(quesoUp)">Edita</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="showReceta">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let recetaUp of arrRecetaUp">
      <div class="card">
        <div class="card">
          <img [src]="recetaUp.imagen" class="card-img" alt="...">
          <div class="card-img-overlay">
            <div class="text">
              <h5 class="card-title">{{ recetaUp.nombre }}</h5>
              <div class="linea"></div>
              <p class="card-text">Raciones: {{ recetaUp.raciones }}</p>
            </div>
          </div>
          <div class="editarCampos" *ngIf="!show">
            <br>
            <button class="btn eliminar" (click)="deleteReceta(recetaUp.fk_recetas)">Elimina</button>
            <button class="btn eliminar" (click)="goToEditRecetas(recetaUp)">Edita </button>
          </div>
        </div>
      </div>

      <div class="error" *ngIf="arrQuesoUp.length === 0 && arrRecetaUp.length === 0 ">
        <h2>
          Aún no tienes ningun favorito
        </h2>
      </div>
    </div>
  </div>
</div>