<header>
  <div class="stick">
    <div style="width: 30%;">
      <button class="btn editar" (click)="show=!show">
        <span class="edit"></span> Editar tus Favoritos
      </button>
    </div>
    <div>
      <div class="form-check form-switch form-check-inline">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
          (input)="showCheese=!showCheese">
        <label class="form-check-label" for="flexSwitchCheckChecked">Quesos</label>
      </div>
      <div class="form-check form-switch form-check-inline">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
          (input)="showReceta=!showReceta">
        <label class="form-check-label" for="flexSwitchCheckChecked">Recetas</label>
      </div>
    </div>
  </div>

</header>

<div class="container" *ngIf="showCheese">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let quesoFav of arrQuesoFav">
      <div class="card">
        <img [src]="quesoFav.imagen" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{quesoFav.nombre}}</h5>
          <div class="linea"></div>
          <p class="card-text"><strong>Origen:</strong> {{quesoFav.origen}}</p>

        </div>
        <div class="editarCampos" *ngIf="!show">
          <button class="btn eliminar" (click)="DeleteProducto(quesoFav.fk_productos)">Eliminar de favoritos</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="showReceta">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let recetaFav of arrRecetaFav">
      <div class="card">
        <div class="card">
          <img [src]="recetaFav.imagen" class="card-img" alt="...">
          <div class="card-img-overlay">
            <div class="text">
              <h5 class="card-title">{{ recetaFav.nombre }}</h5>
              <div class="linea"></div>
              <p class="card-text">Raciones: {{ recetaFav.raciones }}</p>
            </div>
          </div>
          <div class="editarCampos" *ngIf="!show">
            <br>
            <button class="btn eliminar" (click)="deleteReceta(recetaFav.fk_recetas)">Eliminar de favoritos</button>
          </div>
        </div>
      </div>

      <div class="error" *ngIf="arrQuesoFav.length === 0 && arrRecetaFav.length === 0 ">
        <h2>
          Aún no tienes ningun favorito
        </h2>
      </div>