<header>
  <button class="btn editar" (click)="show = !show">
    <span class="edit"></span> Edita tus Favoritos
  </button>
  /
  <button class="btn" (click)="showCheese = !showCheese">Quesos</button>
  <button class="btn" (click)="showReceta = !showReceta">Recetas</button>
  <!-- <button  class="btn" (click)="showReceta ? showReceta : !showCheese" > Recetas</button>-->
</header>
<div class="container" *ngIf="showCheese">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let quesoFav of arrQuesoFav">
      <div class="card">
        <img
          src="../../../assets/img/mozzarella.png"
          class="card-img"
          alt="..."
        />
        <!-- <img [src]="producto.imagen" class="card-img" alt="...">-->
        <div class="card-img-overlay">
          <h5 class="card-title">{{ quesoFav.nombre }}</h5>
          <div class="linea"></div>
          <p class="card-text">
            <strong>Origen:</strong> {{ quesoFav.origen }}
          </p>
        </div>
        <div class="editarCampos" *ngIf="!show">
          <button class="btn eliminar" (click)="DeleteProducto(quesoFav.id)">
            Quitar de favoritos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="showReceta">
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4"
      *ngFor="let recetaFav of arrRecetaFav"
    >
      <div class="card">
        <div class="card">
          <img
            src="../../assets/img/revueltos_espinacas_parmesano.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <div class="text">
              <h5 class="card-title">{{ recetaFav.nombre }}</h5>
              <div class="linea"></div>
              <p class="card-text">Raciones: {{ recetaFav.raciones }}</p>
            </div>
          </div>
          <div class="editarCampos" *ngIf="!show">
            <br />
            <button class="btn eliminar" (click)="deleteReceta(recetaFav)">
              Quitar de favoritos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
