<section>
  <h2>Sube tu queso</h2>
  <hr />
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
          />
        </div>

        <div class="mb-3">
          <label for="" class="ms-2 textForm">Descripción</label>
          <input
            type="textarea"
            class="form-control"
            id="descripcion"
            formControlName="descripcion"
          />
        </div>
        <div class="formDoble">
        <div class="mb-3 col-6">
          <label for="" class="ms-2 textForm">Tipo de Leche</label>
          <select class="form-select" aria-label="Tipo de leche" formControlName="tipoLeche">
            <option selected>Tipo de leche</option>
            <option value="vaca">Vaca</option>
            <option value="oveja">Oveja</option>
            <option value="vegetal">Vegetal</option>
          </select>
        </div>
        <div class="mb-3 ms-2 col-6">
          <label for="" class="ms-2 textForm">Origen</label>
          <input
            type="text"
            class="form-control"
            id="origen"
            formControlName="origen"
          />
        </div>
      </div>
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Caracteristicas</label>
          <input
            type="text"
            class="form-control"
            id="caracteristicas"
            placeholder="Caracteristicas"
            formControlName="caracteristicas"
          />
        </div>
        <div class="formDoble">
        <div class="mb-3 col-6">
          <label for="" class="ms-2 textForm">Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            placeholder="Color"
            formControlName="color"
          />
        </div>

        <div class="mb-3 ms-2 col-6">
          <label for="" class="ms-2 textForm">Tipo</label>
          <input
            type="text"
            class="form-control"
            id="tipo"
            placeholder="Tipo"
            formControlName="tipo"
          />
        </div>
      </div>
        <button type="submit" class="btn col-12">Enviar</button>
      </form>
    </div>
  </div>
</section>

