*{
    font-family: 'Montserrat', sans-serif;;
}
.container{
    padding: 5%;
}

.nav{
    margin: auto!important;
    padding: 1%;
    border: none!important;
    
}
.nav-link{
    border: none!important;
    color: #ffd05e; 
    border-radius: 100px;
}
.nav-link:hover{
    background-color: black;
    border-radius: 100px;
}
.nav-link.active{
  
    color: black;
    text-decoration: underline; 

}
.texto h2{
    font-weight: 800;
}