@import url(../area-clientes/area-clientes.component.css);
*{
    font-family: 'Montserrat', sans-serif;;
}
.container{
    padding: 5%;
}

.nav{
    margin: auto!important;
    padding: 1%;
    border: none!important;
    
}
.nav-link{
    border: none!important;
    color: #ffd05e; 
    border-radius: 100px;
}
.nav-link:hover{
    color: #ffd05e;
    background-color: black;
    border-radius: 100px;
    text-decoration: underline;
}
.nav-link.active{

    text-decoration: underline; 

}
.texto h2{
    font-weight: 800;
}
button:focus{

    box-shadow:none!important;
    text-decoration: underline;
    color: #FFD05E;

}
button{
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0)!important;
    color: #000;
    transition: all ease .5s;
    margin-left: 10px;
    border-radius: 100px;
    
}
button:hover{
    background-color:rgb(0, 0, 0)!important;
    color: #FFD05E;
}
.textoDescripcion{

    padding: 2%;
  
}

.textoDescripcion h5{
    font-size: 1.1em;
}
.textoDescripcion p{
    font-size: 1.1em;
   
}
.textoDescripcion h6{
    font-weight: 800;
    margin: 2% 0px;
}

.col-5 img{
    transition: all ease 1s;
}

.col-5 img:hover{
    transform: scale(1.5);
}

.textoDescripcion p:nth-child(1){

    text-transform: capitalize;
}