<button class="btn botonBack" [routerLink]="['../']">
  <span class="back"></span> Volver
</button>
<div class="container" *ngIf="producto">
  <div class="row">
    <div class="col-5">
      <!--<img [src]="producto.imagen" alt="" width="100%" />-->
      <img src="../../../assets/img/mozzarella.png" class="card-img" alt="..." />
    </div>

    <div class="col-7 texto">
      <h2>{{ producto.nombre }}</h2>
      <hr />
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Descripción
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Curiosidades
          </button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active textoDescripcion"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <h5>{{ producto.descripcion }}</h5>
           <h6>Origen:</h6><p>{{ producto.origen }}</p>
           <h6>Tipo de Leche:</h6> <p>{{ producto.tipoLeche }}</p>
           <h6>Color:</h6> <p>{{ producto.color }}</p>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <p>{{ producto.curiosidades }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
