  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4" *ngFor="let receta of arrRecetas">
        <div class="card">
          <div
            class="imagen"
            style="
              background-image: url(../../assets/img/revueltos_espinacas_parmesano.jpg);
            "
          ></div>
          <a class="favoritos" href="#"
            ><img width="80%" src="../../../assets/img/confirmado.svg"
          /></a>
          <div class="card-img-overlay">
            <h5 class="card-title">{{ receta.nombre }}</h5> 
            <p class="card-text">Raciones: {{ receta.raciones }}</p>
          </div>
        </div>
      </div>
    
   