<app-buscador (search)="handleSearch($event)"></app-buscador>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let receta of arrRecetas">
      <div class="card">
        <div class="card" (click)="goToDetails(receta)">
          <img
            src="../../assets/img/revueltos_espinacas_parmesano.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <a class="favoritos" href="#"
              ><img width="80%" src="../../../assets/img/confirmado.svg"
            /></a>
            <div class="text">
              <h5 class="card-title">{{ receta.nombre }}</h5>
              <div class="linea"></div>
              <p class="card-text">Raciones: {{ receta.raciones }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="botones" *ngIf="arrRecetas.length >= 6">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item " [disabled]="paginaActual === 1">
        <a class="page-link" (click)="onClick(false)">Previo</a>
      </li>


      <li class="page-item"><a class="page-link" href="#">{{paginaActual}} / {{arrRecetas.length}}</a></li>

      <li class="page-item">
        <a class="page-link" (click)="onClick(true)" [disabled]="paginaActual === numPaginas">Siguiente</a>
      </li>
    </ul>
  </nav>
  <button class="btn btn-success" (click)="onClick(false)" [disabled]="paginaActual === 1">
    ➖
  </button>
  <button class="btn btn-success ms-2" (click)="onClick(true)" [disabled]="paginaActual === numPaginas">
    ➕
  </button>
</div>
<div class="error" *ngIf="arrRecetas.length === 0">
  <h2>
    {{ value }} no está entre nuestros quesos pero puedes
    <a href="/registrarReceta">agregarlo </a>
  </h2>
</div>
