<!-- <section class="filter">
<label >
<input type="text" list="filtroQueso" placeholder="Queso.." name="listaQuesos">

</label>
    <details id="filtroQueso">
        <option value="mozarella">Mozarella</option>
        <option value="mozarella">Ricota</option>
        <option value="mozarella">Cabra</option>
        <option value="mozarella">Burgos</option>
        <option value="mozarella">Queso Crema</option>
        <option value="mozarella">Picolino</option>
        <option value="mozarella">Gorgonzola</option>
        <option value="mozarella">Azul</option>
          </details>

</section> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let producto of arrProducto" >
            <div class="card" [routerLink]="['/detalle']"  >
                <img src="../../../assets/img/mozzarella.png" class="card-img" alt="...">
               <!-- <img [src]="producto.imagen" class="card-img" alt="...">-->
                <div class="card-img-overlay">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <div class="linea"></div>
                    <p class="card-text"><strong>Origen:</strong> {{producto.origen}}</p>
                </div>
            </div>
        </div>
    </div>
</div>