<a routerLink="/" class="btn" [routerLink]="['../']">Volver</a>
<div class="container">
  <div class="row">
    <div class="col-5">
      <a
        data-fancybox="gallery"
        href="receta"
        ><img
          src="https://images.pexels.com/photos/6401668/pexels-photo-6401668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          width="99%"
      /></a>

      <a
        data-fancybox="gallery"
        href="https://images.pexels.com/photos/6401665/pexels-photo-6401665.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        ><img
          class="miniatura"
          src="https://images.pexels.com/photos/6401665/pexels-photo-6401665.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      /></a>

      <a
        data-fancybox="gallery"
        href="https://images.pexels.com/photos/6401669/pexels-photo-6401669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        ><img
          class="miniatura"
          src="https://images.pexels.com/photos/6401669/pexels-photo-6401669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      /></a>

      <a
        data-fancybox="gallery"
        href="https://images.pexels.com/photos/6401668/pexels-photo-6401668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        ><img
          class="miniatura"
          src="https://images.pexels.com/photos/6401668/pexels-photo-6401668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      /></a>
    </div>

    <div class="col-7">
      <h2>{{receta.nombre}}</h2>
      <hr />
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
          >
            Ingredientes
          </button>
          <button
            class="nav-link"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
          >
            Elaboración
          </button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <ul>
            <li>{{receta.ingredientes}}</li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
        <p>🕕Tiempo: {{receta.tiempo}}</p>
        <p>🍴Raciones: {{receta.raciones}}</p>
        <p>
        {{receta.elaboracion}}
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
