<button class="btn editar" (click)="show=!show">
    <span class="edit"></span> Editar tus Favoritos
  </button>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let quesoFav of arrQuesoFav">
            <div class="card" [routerLink]="['/detalle']">
                <img src="../../../assets/img/mozzarella.png" class="card-img" alt="...">
               <!-- <img [src]="producto.imagen" class="card-img" alt="...">-->
                <div class="card-img-overlay">
                    <h5 class="card-title">{{quesoFav.nombre}}</h5>
                    <div class="linea"></div>
                    <p class="card-text"><strong>Origen:</strong> {{quesoFav.origen}}</p>
                
                </div>
                <div class="editarCampos" *ngIf="!show">
                    <button class="btn edicion">Editar</button>
                    <button class="btn eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let recetaFav of arrRecetaFav">
      <div class="card">
               <div class="card" [routerLink]="['/detalle']">
              <img src="../../assets/img/revueltos_espinacas_parmesano.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
          <a class="favoritos" href="#"><img width="80%" src="../../../assets/img/confirmado.svg" /></a>
          <div class="text">
          <h5 class="card-title">{{ recetaFav.nombre }}</h5>
          <div class="linea"></div>
          <p class="card-text">Raciones: {{ recetaFav.raciones }}</p>
        </div>
        </div>
      </div>
    </div>

    <div class="error" *ngIf="arrQuesoFav.length === 0 && arrRecetaFav.length === 0 ">
        <h2>
        Aún no tienes ningun favorito
        </h2>
    </div>
