<button class="btn botonBack" routerLink>
  <span class="back"></span> Volver
</button>
<section>
  <h2>Sube tu receta</h2>
  <hr />
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" />
          <div
            class="error"
            *ngIf="
              !formulario.controls.nombre.pristine &&
              objectLength(formulario.controls.nombre.errors) > 0
            "
          >
            <div class="alert alert-dismissible fade show ms-2" role="alert">
              El nombre no puede quedar vacío
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
        <div class="formDoble">
          <div class="mb-3 col-6">
            <label for="" class="ms-2 textForm">Queso utilizado</label>
            <input
              type="text"
              id="quesoUtilizado"
              formControlName="quesoUtilizado"
            />
            <div
              class="error"
              *ngIf="
                !formulario.controls.quesoUtilizado.pristine &&
                objectLength(formulario.controls.quesoUtilizado.errors) > 0
              "
            >
              <div class="alert alert-dismissible fade show ms-2" role="alert">
                Debes introducir el queso utilizado
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </div>
          <div class="mb-3 ms-2 col-6">
            <label for="" class="ms-2 textForm">Tiempo</label>
            <input type="time" id="tiempo" formControlName="tiempo" />
          </div>
        </div>
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Raciones</label>
          <input type="number" id="raciones" formControlName="raciones" />
        </div>
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Ingredientes</label>
          <input
            type="textarea"
            id="ingredientes"
            formControlName="ingredientes"
          />
          <div
            class="error"
            *ngIf="
              !formulario.controls.ingredientes.pristine &&
              objectLength(formulario.controls.ingredientes.errors) > 0
            "
          >
            <div class="alert alert-dismissible fade show ms-2" role="alert">
              Debes introducir al menos un ingrediente
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
        <label for="" class="ms-2 textForm">Elaboración</label>
        <textarea id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="mb-3">
          <label for="" class="ms-2 textForm">Imagen</label>
          <input
            type="file"
            id="imagen"
            formControlName="imagen"
            (change)="onChange($event)"
          />
        </div>
        <button
          class="btn send col-12 botones"
          [disabled]="!formulario.valid"
          type="submit"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</section>
