section{
    margin-top: 2%!important;
    width: 60%;
    margin: auto;
    /* border: 1px solid gray; */
    padding: 2%;
    box-shadow: 0 0 15px 4px rgb(213, 213, 213);
    
}
section input, section select, textarea{
    border: none;
    background-color: #f8f8f8;
    border-radius: 10px!important;
    border-radius: 0px;
    outline: none!important;
 
}
input:focus, select:focus, textarea:focus{

    box-shadow:2px 2px 2px 1px #FFD05E!important;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    text-align: center!important;
}
.btn{
margin-top: 1%;
margin-bottom: 1%;
    border: none;
    color: #3b3d34!important;
    transition: all ease 0.5;

    
}
.btn:hover{
    background-color: #3b3d34!important;
    color: #FFD05E!important;
    text-decoration: underline;
}
.formDoble{
    display: flex;

}
.textForm{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

