div{
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid var(--color-princial);
    padding: 1%;
    /* box-shadow: 0 0 15px 1px var(--color-princial); */
}
div button, .search input{
    width: 100%;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    outline:0px;

}
.search input {
    color: #FFD05E!important;

}
input::placeholder { color: rgb(154, 154, 160); }