<div class="input-group search">
  <input spellcheck="false" data-hj-whitelist="true" type="text" placeholder="Introduce tu queso favorito..." aria-label="Input group example"
    aria-describedby="btnGroupAddon" list="buscador" >
  <details id="buscador">
<option value="mozarella">Mozarella</option>
<option value="mozarella">Ricota</option>
<option value="mozarella">Cabra</option>
<option value="mozarella">Burgos</option>
<option value="mozarella">Queso Crema</option>
<option value="mozarella">Picolino</option>
<option value="mozarella">Gorgonzola</option>
<option value="mozarella">Azul</option>
  </details>
</div>
