body{
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
 
}

:root{

--color-princial: #FFD05E;
--color-secundario: #3b3d34;
--fuente-princial: 'Montserrat', sans-serif;
--fontsize: 1em;
--anchomaximo: 68.750em;
--margingrid: 1em;
--padding: 0.625em


}
