body{
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
 
}

:root{

--color-principal: #FFD05E;
--color-secundario: #3b3d34;
--fuente-princial: 'Montserrat', sans-serif;
--fontsize: 1em;
--anchomaximo: 68.750em;
--margingrid: 1em;
--padding: 0.625em


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
