*{
    font-family: 'Montserrat', sans-serif;;
}
.container{
    padding: 5%;
    width: 100%;
    margin: auto!important;
    
}

.nav{
    margin: auto!important;
    padding: 2%;
    border: none!important;
   
}
.nav-link{
    border: none!important;
    color: #ffd05e; 
    border-radius: 100px;
}
.nav-link:hover{
    background-color: black;
    border-radius: 100px;
}
.nav-link.active{
  
    color: black;
    text-decoration: underline; 
}
.miniatura{
    width: 33%!important;
    height: 100px!important;
    border: 1px solid #fff!important;
    margin: auto;
   
}

.imagenPerfil{
    width: 175px;
    height: 175px;
    line-height: 175px;
    border-radius: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
    
}
.dosCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dosCol h3{
    font-weight: 800;

}
div ul{
    margin-left: 10%;
    list-style-type: none;

}
div ul li{
    font-weight: 800; 
    font-size: 1.4em;
}
.doble{
display: flex; 
}
.nombre{
    font-weight: 300; 
    font-size: 1.4em;
    color: #ffd05e ;
}
.botonBack, .btn{
    margin: 1%;
    border: none;
    color: #3b3d34!important;
    transition: all ease .5s;
    transform: rotateY(360deg)!important;
    position: relative;
    overflow: hidden; 

}
.editar:hover{
    color: rgba(255, 255, 255, 0)!important;
}

.botonBack:hover, .send:hover{
    background-color: #3b3d34!important;
    color: #ffcf5e00;
    text-decoration: underline;
    transition: all ease .5s;
}
.edit{
    position: absolute;
    background-image: url('../../../assets/img/edit.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    height: 65px;
    width: 100%;
    top: -40%;
    right: -75%;
    transition: all ease .5s;
 }

 .btn:hover .edit, .botonBack:hover .back{
    transition: transform 0.5s;
-moz-transform: scale(1.1) translateX(-60%);
-webkit-transform: scale(1.1) translateX(-60%);
-o-transform: scale(1.1) translateX(-60%);
-ms-transform: scale(1.1) translateX(-60%);
transform: scale(1.1) translateX(-60%);
} 
.back{
    position: absolute;
    background-image: url('../../../assets/img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: 65px;
    width: 100%;
    top: -40%;
    right: -75%;
    transition: all ease .5s;
 }
